//flash msg
.flash-msg{
  background-color: rgb(253, 157 ,8);
  padding: 15px 0;
  color: #fff;
  @media #{$maxMobile} {
    padding: 10px 0;
  }
  p{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
    @media #{$maxMobile} {
      font-size: 15px;
    }
    span{
      color: #333;
    }
  }
  .msg-1{
    margin-bottom: 10px;
  }
}
//end flash msg


//start header

.main-header{
  .header-form{
    text-align: right;
    background-color: #07a524;
    padding: 8px;
    display: none;
    position: absolute;
    z-index: 3;
    width: 100%;
    .form-content{
      display: flex;
      align-items: center;
      justify-content: space-between;
      select{
        background-color: rgba(0, 0, 0, 0.15);
        outline: none;
        height: 44px;
        border-radius: 4px;
        color: #fff;
        width: 200px;
        margin-left: 10px;
        border: 0;
        padding: 0 6px;
      }
      .search-area{
        width: calc(100% - 200px);
        position: relative;
        input[type="search"]{
          width: 100%;
          border: 0;
          padding: 10px 20px;
          border-radius: 4px;
          outline: 0;
        }
        .search-btn{
          position: absolute;
          left: 18px;
          top: 12px;
          outline: 0;
          border: 0;
          background-color: #fff;
          i{
            font-size: 20px;
          }
        }
      }
    }
  }
}

.pc-header{
  //position: relative;
  @media #{$maxMeduim}{
    display: none;
  }
  .header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .brand{
      max-width: 170px;
      display: block;
      img{
        max-width: 100%
      }
    }
    nav{
      li{
        margin: 0 15px;
        a{
          display: block;
          text-decoration: none;
          color: #333;
          font-size: 14px;
          font-weight: bold;
          position: relative;
          height: 100%;
          line-height: 100px;
          transition: color .25s;
          z-index: 1;
          padding: 0 16px;
          &:before{
            content: "";
            right: 50%;
            position: absolute;
            top: 0;
            width: 0;
            height: 3px;
            transform: translateX(50%);
            background-color: green;
            transition: width .25s;
          }
          &:hover{
            &:before{
            width: 100%;
            }
            background-color: hsla(0,0%,97.6%,.5);
          }
        }
      }
    }
    .actions{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .search-toggler{
        margin-left: 15px;
        color: #333;
      }
      .cart-container{
        display: flex;
        align-items: center;
        .cart{
          display: block;
          border-left: 0;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          color: #333;
        }
        .c-value{
          margin-right: 0px;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }
    }
  }
}

.mobile-header{
  display: none;
  @media #{$maxMeduim} {
    display: block;
    padding: 10px 0;
  }
  .header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .mob-brand{
      display: flex;
      align-items: center;
      .bars{
        color: #333;
        i{
          font-size: 25px;
        }
      }
    .brand{
      max-width: 120px;
      display: block;
      margin-right: 10px;
      img{
        max-width: 100%
      }
    }
    }
    .actions{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .search-toggler{
        margin-left: 15px;
        color: #333;
      }
      .cart-container{
        display: flex;
        align-items: center;
      }
    }
  }
  .header-form{
    //top: 148px;
  }
}
//end header

//cart sideMenu
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 100;
  //@media (max-width: 640px){
  //  width: 250px;
  //}
  .cart-header{
    padding: 0 15px;
    background-color: #fafafa;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3{
      color: #1a1a1a;
      font-size: 20px;
      margin-bottom: 0;
      font-weight: bold;
      small{
        margin-right: 5px;
      }
    }
    //.closebtn {
    //  font-size: 36px;
    //  color: #333;
    //  display: block;
    //  text-decoration: none;
    //}
  }
  .cart-body{
    height: calc(100% - 218px);
    overflow-y: auto;
    padding: 15px;
    .cart-list{
      form{
        ul{
          .cart-item{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            img{
              border: 1px solid #f0f0f0;
              width: 60px;
              display: block;
              max-width: 100%;
              height: auto;
            }
            .item-body{
              display: flex;
              width: calc(100% - 60px);
              margin-right: 10px;
              .item-details{
                margin-top: 5px;
                width: calc(100% - 25px);
                h3{
                  margin: 0 0 8px;
                  font-size: 14px;
                  text-align: right;
                  font-weight: 600;
                  a{
                    background-color: transparent;
                    color: #1b1e21;
                    display: block;
                  }
                }
                .quantity-wrapper{
                  display: flex;
                  align-items: center;
                  .quantity{
                    font-size: 14px;
                    font-weight: 500;
                    small{
                      text-align: center;
                      background-color: #fafafa;
                      border-radius: 3px;
                      border: 1px solid #e5e5e5;
                      padding: 0 1px;
                      margin-right: 5px;
                      margin-left: 5px;
                      font-size: 13px;
                      min-width: 20px;
                      height: 18px;
                      display: inline-block;
                      line-height: 16px;
                      font-weight: 600;
                    }
                  }
                }
              }
              .item-actions{
                background-color: #fafafa;
                border: 1px solid #f0f0f0;
                border-radius: 3px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                width: 25px;
                height: 50px;
                .edit{
                  transition: all .25s;
                  outline: none;
                  i{

                  }
                }
                .delete{
                  i{

                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .cart-footer{
    padding: 15px;
    background-color: #fafafa;
    border-top: 1px solid #f0f0f0;
    h4{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      font-size: 14px;
      span{

      }
    }
    .cart-actions{
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      .primary-btn{
        margin-bottom: 10px;
        background-color: #1c7430;
        color: #fff;
        border-color: #e5e5e5;
      }
      .default-btn{
        border-color: #e5e5e5;
      }
    }
  }
}
//end cart sideMenu

//start rightMenu
.right-side-nav{
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 100;
  .right-content{
    padding: 20px;
    .nav-bar{
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      max-width: 170px;
      height: 65px;
      margin: 0 auto;
      img{
        max-height: 100%;
      }
    }
    form{
      margin: 20px 0;
      .search-input{
        position: relative;
        input{
          border-radius: 3px;
          border: 1px solid #e5e5e5;
          padding: 10px 15px;
          background-color: transparent;
          height: 50px;
          width: 100%;
          -webkit-transition: all .25s;
          transition: all .25s;
          -webkit-appearance: textfield;
          outline-offset: -2px;
          outline: none;
        }
        button{
          position: absolute;
          top: 0;
          width: 50px;
          height: 100%;
          line-height: 100%;
          font-size: 18px;
          text-align: center;
          left: 0;
          background-color: transparent;
          border: 0;
          padding: 0;
          cursor: pointer;
          -webkit-appearance: button;
          outline: none;
          -webkit-transition: all .25s;
          transition: all .25s;
        }
      }
    }
    ul{
      margin-bottom: 20px;
      li{
        border-bottom: 1px solid #f0f0f0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
          display: -webkit-box;
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          justify-content: space-between;
          font-weight: 600;
          font-size: 13px;
          text-transform: capitalize;
          -webkit-transition: color .35s ease;
          transition: color .35s ease;
          color: inherit;
          padding: 15px 0;
          text-decoration: none;
        }
      }
    }
  }
}
//end rightMenu

//slider area
.slider{
  .carousel-inner{
    height: 270px;
    margin-bottom: 20px;
    position: relative;
    img{
      height: 270px;
      //max-height: 235px;
      opacity: 0.5;
      object-fit: cover;
    }
    .carousel-caption{
      text-shadow: 0 3px 20px rgb(71, 71, 71);
      @media (min-width: 768px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
      }
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #383838;
    }
  }
  .carousel-indicators{
    @media (max-width: 360px) {
      display: none;
    }
    li{
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #ee4444;
    }
  }
}
//slider
//slider area


//prodcts area
.products{
  padding: 50px 0;
  .pro-heading{
    margin-bottom: 50px;
    h2{
      font-weight: bold;
    }
  }
  .product-item{
    border: 1px solid #f0f0f0;
    box-shadow: 0 5px 20px -10px #eee;
    border-radius: 3px;
    border-color: #f0f0f0;
    margin-bottom: 30px;
    .product-thumbnail{
      display: block;
      position: relative;
      height: 0;
      overflow: hidden;
      padding: 0 0 100%;
      background-color: transparent;
      text-decoration: none;
      outline: none;
      color: green;
      img{
        position: absolute;
        top: 50%;
        max-height: 100%;
        text-indent: -9999px;
        -webkit-transition: -webkit-transform .25s ease;
        transition: -webkit-transform .25s ease;
        transition: transform .25s ease;
        transition: transform .25s ease,-webkit-transform .25s ease;
        display: block;
        max-width: 100%;
        height: auto;
        right: 50%;
        -webkit-transform: translate(50%,-50%) scale(1);
        transform: translate(50%,-50%) scale(1);
      }
    }
    .product-details{
      border-color: #f0f0f0;
      padding: 20px 15px;
      text-align: center;
      border-top: 1px solid #f0f0f0;
      transition: border .25s;
      .info{
        .title{
          font-size: 14px;
          margin: 0 0 10px;
          a{
            color: #000000;
            display: block;
            text-decoration: none;
            font-weight: bold;
          }
        }
        .price{
          display: flex;
          text-align: center;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          flex-direction: column;
          .before{
            text-decoration: line-through;
            color: #747474;
            margin-bottom: 5px;
          }
          .after{
            color: #803160;
            font-size: 16px;
            font-weight: 700;
          }
        }
      }
      .actions{
        margin: 15px 0 0;
        a{
          color: #803160;
          background-color: #ffffff;
          border-color: #803160;
          border: 1px solid;
          display: block;
          width: 190px;
          margin: auto;
          padding: 5px;
          border-radius: 4px;
          text-decoration: none;
          transition: all .25s;
          &:hover{
            color: #ffffff;
            background-color: #803160;
            border-color: #ffffff;
          }
        }
      }
    }
    &:hover{
      border-color: #803160;
      .product-thumbnail{
        img{
          transform: translate(50%,-50%) scale(1.1);
        }
      }
      .product-details{
        border-color: #803160;
      }
    }
  }
}
//end prodcts area


//footer
footer{
  background-color: rgb(254, 254, 254);
  color: rgb(0, 0, 0);
  border-top: 1px solid rgb(240, 240, 240);
  text-align: right;
  .footer-brand{
    padding: 30px 0;
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 170px;
      height: 85px;
      text-decoration: none;
      outline: none;
      margin: auto;
      img{
        max-height: 100%;
      }
    }
  }
  .footer-body{
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    padding: 30px 0;
    .footer-item{
      @media (max-width: 767px) {
        text-align: center;
      }
      h3{
        padding: 0 0 20px;
        font-size: 15px;
        font-weight: 600;
        &:after{
          content: "";
          display: block;
          width: 25px;
          height: 2px;
          margin: 8px 0 0;
          background-color: #07a524;
          @media (max-width: 767px) {
            margin: 8px auto;
          }
        }
      }
      ul {
        li{
          margin-bottom: 10px;
          a{
            display: block;
            font-size: 13px;
            transition: color .25s;
            text-decoration: none;
            outline: none;
            color: #000;
            &:hover{
              color: #07a524;
              //color: #e41234;
            }
          }
        }
      }
    }
  }
}
//end footer